global
  maxconn 4096
  log 192.168.99.100 local0
  log 192.168.99.100 local1 info

defaults
  mode http
  log global
  option httplog
  option  http-server-close
  option  dontlognull
  option  redispatch
  option  contstats
  retries 3
  backlog 10000
  timeout client          25s
  timeout connect          5s
  timeout server          25s
  timeout tunnel        3600s
  timeout http-keep-alive  1s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  default-server inter 3s rise 2 fall 3
  option forwardfor

# ------- Frontend
frontend http-in
  log     global
  mode    http
  bind    *:80
  reqadd X-Forwarded-Proto:\ http

  stats enable
  stats realm Haproxy\ Statistics
  stats uri /stats
  stats show-node
  stats auth admin:admin